h3 {
    text-align: center;
}

.frame {
    margin-top: 0px;
    width: 100%;
    background-image: url(../img/back-s06a.png);
}

.pic {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: auto;
    background-image: url(../img/abt.png);
    background-size: cover;
    background-origin: padding-box;
}

.title {
    text-align: left;
    margin-left: 30px;
    font-weight: 800;
}

.contain {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

.title-sns {
    text-align: left;
    margin-left: 30px;
}
