
header{
  background-color: #2A7DFB;
  font-size: 1.2vw;
  color: #ffffff;

}

.header-container{
  display: flex;

}

.header-menu{
  margin-left: 4%;
  padding: 1% 0;
}


footer{
  background-color: #2A7DFB;
  font-size: 1.5vw;
  color: #ffffff;
  text-align: center;
  padding: 1% 0;
}

